/* Definición de Variables */
:root {
    /* Colores principales */
    --color-principal: #007BFF;
    --color-secundario: #00bfff;
    --color-fondo: #f4f4f9;
    --color-fondo-secundario: #f5f5f5;
    --color-texto: #333;
    --color-texto-secundario: #f5f5f5;
    --color-texto-terciario: #f7f7f7;
    --color-exito: #27ae60;
    --color-error: #c0392b;
    --color-neutro: #ddd;

    /* Fuentes */
    --fuente-principal: 'Poppins', sans-serif; /* Cambié a Poppins */
    --fuente-monospaciada: "Courier New", monospace;

    /* Espaciado */
    --espaciado: 20px;
    --espaciado-mensajes: 10px;

    /* Bordes */
    --borde-radius: 8px;
    --borde-mensajes: 5px;

    /* Sombras */
    --sombra-principal: 0 2px 10px rgba(0, 0, 0, 0.1);
    --sombra-secundaria: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--fuente-principal);
    margin: 0;
    padding: 0;
    background: var(--color-fondo);
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuir espacio entre el contenido y el footer */

    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

h1, h2 {
    color: var(--color-principal);
}

h2 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

code {
    background-color: #f8f8f8;
    padding: 5px;
    border-radius: var(--borde-mensajes);
    font-family: var(--fuente-monospaciada);
}

header {
    background: var(--color-secundario);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

section {
    background: #fff;
    padding: var(--espaciado);
    margin-bottom: 20px;
    border-radius: var(--borde-radius);
    box-shadow: var(--sombra-secundaria);
}




label {
    display: block;
    font-weight: 500;
    color: #555;
}

input {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #fafafa;
}

input:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}

footer {
    background: #333;
    color: #fff;
    padding: 0px;
    text-align: center;
    margin-top: 30px;
}

footer p {
    font-size: 0.9rem;
}

footer a {
    color: var(--color-principal);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}




/* SamarioPHP */
.marca {
    text-align: center;
    margin-bottom: 10px;
}

.titulo {
    font-size: 2rem;
    color: var(--color-principal);
    margin: 0;
}

.subtitulo {
    font-size: 1rem;
    color: var(--color-texto-secundario);
}

.app-info {
    text-align: center;
    margin-top: 10px;
}

.app-titulo {
    font-size: 1.5rem;
    color: var(--color-texto);
}

.app-descripcion {
    font-size: 1rem;
    color: var(--color-texto-terciario);
}

.division {
    margin: 2px;
    padding: 3px;
}


.note {
    background-color: #f9f9f9;
    padding: var(--espaciado);
    border: 1px solid var(--color-neutro);
    border-radius: var(--borde-mensajes);
    margin: 15px 0;
}


.btn {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.boton-iniciar {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: var(--color-principal);
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1rem;
}

.boton-iniciar:hover {
    background-color: #0056b3;
}



/* Ajustes para la imagen del logo */
.logo {
    width: 150px;            /* Ajusta el tamaño del logo (puedes cambiar este valor) */
    height: auto;           /* Mantén la proporción del logo */
}

/* Contenedor del logo y el título */
.logo-container {
    display: flex;          /* Utilizamos flexbox */
    align-items: center;    /* Alinea verticalmente los elementos en el centro */
    justify-content: flex-start; /* Alinea los elementos al principio del contenedor (izquierda) */
    gap: 10px;              /* Añade espacio entre el texto y la imagen */
}


/* Estilos de la aplicación  */

.container {
    margin: 0 auto;
    padding: var(--espaciado);
}


.container_600 {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}


.contenedor_800 {
    background: #fff;
    padding: var(--espaciado);
    border-radius: var(--borde-radius);
    box-shadow: var(--sombra-principal);
    max-width: 800px;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 20px;
    overflow-y: auto;
}


.main-content {
    margin-top: 30px;
}



.encabezado .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado .logo h1 {
    font-size: 28px;
    margin-top: 10px;
}

.encabezado .logo .logo-img {
    width: 150px;
}



.intro, .features, .credits, .system-details {
    background: #fff;
    animation-delay: 1234;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    margin-bottom: 10px;
}

.features li strong {
    color: var(--color-secundario);
}


/*mensaje del sitemas*/
.mensaje-exito, .mensaje-error {
    padding: 20px;
    color: #333;
}
.mensaje-exito h1 {
    color: #2d862d;
}
.mensaje-error h1 {
    color: #d9534f;
}

.mensaje {
    padding: var(--espaciado-mensajes);
    margin-top: 20px;
    border-radius: var(--borde-mensajes);
    text-align: center;
}
.mensaje.error {
    border: 1px solid var(--color-error);
    background-color: #fdecea;
    color: var(--color-error);
}
.mensaje.exito {
    border: 1px solid var(--color-exito);
    background-color: #eafaf1;
    color: var(--color-exito);
}



/* Estilo general para las alertas */
.alerta {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Estilo específico para las alertas de error */
.alerta-error {
    background-color: #f8d7da; /* Color de fondo (rojo claro) */
    color: #721c24; /* Color del texto (rojo oscuro) */
    border: 1px solid #f5c6cb; /* Borde rojo claro */
}

.alerta-error strong {
    font-weight: bold;
}


/* Estilos adicionales para el menú público */
.public-menu {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--borde-radius);
    border-radius: 10px 10px 0px 0px;
    box-shadow: var(--sombra-secundaria);
}
.public-menu .menu-title {
    font-size: 18px;
    font-weight: 600;
    color: #007bff;
}
.public-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.public-menu li {
    margin-left: 20px;
}
.public-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}
.public-menu a:hover {
    color: #007bff;
}

/* para la piecera */
.credits {
    text-align: center;
}

.credits img {
    width: 200px;
    margin-top: 10px;
}

/* login */

/* Estilos del Login */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
    font-family: 'Poppins', sans-serif;
    padding: 20px; /* Agrega espacio alrededor para pantallas pequeñas */
}

.login .container {
    background-color: white;
    padding: 2rem;
    border-radius: var(--borde-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Cambia a un máximo ancho responsivo */
    width: 100%; /* Permite que el contenedor se ajuste al tamaño */
    text-align: center;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .login .container {
        padding: 1rem; /* Reduce el espaciado interno */
    }
}


.login .logo-container {
    text-align: center;
    margin-bottom: 0px;
}

.login .logo {
    max-width: 120px;
    margin-bottom: 10px;
}
/* Ajustes para la imagen del logo */
.login .logo {
    width: 40px;            /* Ajusta el tamaño del logo (puedes cambiar este valor) */
    height: auto;           /* Mantén la proporción del logo */
}
.login .form-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.login .form-group {
    margin-bottom: 15px;
}

.login .form-actions {
    text-align: center;
}

.login .btn-primary {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login .btn-primary:hover {
    background-color: #0056b3;
}

.login .login-options {
    text-align: center;
    margin-top: 20px;
}

.login .login-options a {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
}

.login .login-options a:hover {
    text-decoration: underline;
}
/* Estilos para el botón de Google */
/* Estilos para el contenedor del botón de Google */
.google-login {
    margin-top: 20px;
    text-align: center;
}

/* Estilos para el botón de Google */
.google-btn {
    background-color: coral;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 350px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.google-btn img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.google-btn:hover {
    background-color: #f7f7f7;
}





/*
errores
*/



.error-page {
    text-align: center;
    margin-top: 50px;
}

.error-page h1 {
    font-size: 3em;
    color: #e74c3c;
}

.error-page .error-message {
    font-size: 1.2em;
    color: #555;
}

.error-page a {
    color: #3498db;
    text-decoration: none;
}
